


.slider-container
{
    display: flex;
   min-width: 1500px;
   margin: auto;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
    /* padding: 0; */
    /* flex-wrap: wrap; */

    
}

video{
  width: 100%;
/* height: 500px; */
  border-radius: 5px;
  z-index: -1;
  height: auto;
}
.content__hero_video-wrap {
    background-color: #FFF;
    border-radius: 50px;
    border: 1px solid #FFF;
    box-shadow: 0 0 24px #FFF;
    position: relative;
}

.content__hero_video-wrap:before {
    /* background: linear-gradient(135deg,#000000 0,#F282C4 25%,#B577F9 50%,#F282C4 75%,#B577F9 100%); */
    background-color: #080b1a;
    
    background-size: 400% 400%;
    border-radius: 30px;
    box-shadow: 0 0 12px #000000;
    content: '';
    position: absolute;
    top: 25px;
    right: 25px;
    bottom: 25px;
    left: 25px;
}
.content__hero_video-block {
    background-color: #FFF;
    border-radius: 20px;
    box-shadow: 3px 6px 12px #252E481A;
    cursor: pointer;
    height: 335px;
    margin: 40px;
    overflow: hidden;
    position: relative;
    width: 600px;
    z-index: 1;
}   



@media only screen and (max-width: 767px){
    .slider-container{
        margin-top: 30px;
        display: flex;
        flex-direction: column;
       align-items: flex-start;
    }
    .content__hero_video-wrap{
        overflow: hidden;
       width: 25%;
       height: 230px;
    }
    .content__hero_video-block{
        overflow: hidden;
        width: 78%;  
        height: 150px;  
    }
    video{

    }
}