.gst-box {
  /* background-color: rgba(246, 250, 253, 0.8); */
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 1000px; */
  padding-top: 50px;
}

.gst-box .gst-container {
  display: flex;

  justify-content: center;
  flex-wrap: wrap;
  gap: 3rem;
}
.gst-box .left-side {
  width: 40%;
  display: flex;
  flex-direction: column;
}
.gst-heading {
  font-weight: 700;
  font-size: 40.6619px;
  line-height: 49px;
  color: #00c4f4;
  font-family: Roboto;
  margin-bottom: 24px;
}
.left-side .para1 {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #231f20;
  font-family: Roboto;
  margin-bottom: 10px;
}
.left-side .para2 {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #606162;
  font-family: Roboto;
  margin-bottom: 14px;
}
.radio-buttons {
  margin-top: 20px;
  display: flex;
  gap: 3rem;
  margin-bottom: 30px;
  font-family: Roboto;
}

.radio-buttons label {
  display: flex;
  align-items: center;
  margin-right: 64px;
  font-family: Roboto;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #606162;
}
.radio-buttons .radio-1,
.radio-2 {
  margin-right: 12px;
  width: 20px;
  height: 20px;
  font-family: Roboto;
}
.radio-buttons .label {
  margin-bottom: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #606162;
  font-family: Roboto;
}
.given-input {
  margin-bottom: 28px;
}
.given-input > label {
  margin-bottom: 12px;
  display: block;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #606162;
  font-family: Roboto;
}
.user-input-rs > input {
  padding: 26px;
  width: 100%;
  height: 52px;
  border: 1px solid #caced1;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #231f20;
  font-family: Roboto;
}
.user-input-rs {
  position: relative;
}
.user-input-rs > select {
  width: 100px;
}
.user-input-rs .ruppes-symbol {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  font-weight: 700;
  font-size: 20px;
  color: #231f20;
}
.gst-values > select {
  padding: 26px;
  width: 100%;
  height: 52px;
  border: 1px solid #caced1;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #231f20;
  font-family: Roboto;
}
.gst-values > option {
  color: #231f20;
}
.gst-container .right-side {
  display: flex;
  flex-direction: column;
  justify-content: center;

  max-width: 585px;
  width: 100%;
}
.gst-container .right-side .right-container {
  margin-bottom: 35px;
  padding: 0 16px;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  box-shadow: 0 4px 20px rgba(193, 204, 210, 0.25);
}
.gst-container .right-side .right-container .selling-cost {
  border-bottom: 1px solid #caced1;
  padding: 24px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.gst-container .right-side .right-container .selling-cost > p:nth-child(1) {
  font-weight: 600;
  font-size: 22px;
  line-height: 27px;
  color: #231f20;
  font-family: Roboto;
}

.gst-container .right-side .right-container .selling-cost > p:nth-child(2) {
  font-weight: 700;
  font-size: 34px;
  line-height: 41px;
  color: #000;
}
.gst-container .right-side .right-container .total-gst {
  border-bottom: 1px solid #caced1;
  padding: 24px 0 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.gst-container .right-side .right-container .total-gst > p:nth-child(1) {
  font-weight: 600;
  font-size: 22px;
  line-height: 27px;
  color: #231f20;
  font-family: Roboto;
}
.gst-container .right-side .right-container .total-gst > p:nth-child(2) {
  font-weight: 700;
  font-size: 34px;
  line-height: 41px;
  color: #000;
}
.gst-container .right-side .right-container .total-profit {
  padding: 24px 0 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.gst-container .right-side .right-container .total-profit > p:nth-child(1) {
  font-weight: 600;
  font-size: 22px;
  line-height: 27px;
  color: #231f20;
  font-family: Roboto;
}
.gst-container .right-side .right-container .total-profit > p:nth-child(2) {
  font-weight: 700;
  font-size: 34px;
  line-height: 41px;
  color: #000;
}
