/*==========================
08. About Style CSS
==========================*/
.override{
  width: 100%;
}
.align-items-center-about-area{
 width: 50%;
 height: 60%;

}
.about-content {
  
  @media #{$xl-device} {
    margin-left: 55px;
    padding-right: 80px;
  }

  h6 {
    margin-bottom: 13px;

  }

  .about-since {
    color: #484848;
    display: inline-block;
    font-size: 24px;
    font-weight: 300;
    line-height: 1;
    position: relative;
    padding-right: 20px;
    margin-bottom: 30px;

    @media #{$sm-device} {
      margin-bottom: 20px;
    }

    &:after {
      background-color: #b4b4b4;
      content: '';
      position: absolute;
      left: 100%;
      top: 50%;
      transform: translateY(-50%);
      height: 2px;
      width: 110px;
    }
  }

  .btn-about {
    color: $paragraph;
    font-size: 16px;
    font-weight: 500;
    display: inline-block;
    margin-top: 15px;
    padding: 10px 13px;
    background-color: #080b1a;
    color: white;
    border-radius: 7px;

    @media #{$sm-device} {
      margin-top: 5px;
    }

    i {
      font-size: 20px;
      line-height: 3px;
      vertical-align: middle;
      transition: 0.3s;
    }

    &:hover {
     background-color: #080b1a;
     color: white;
     box-shadow: 0 0 5px 0 rgba(255, 255, 255, 0.7);
      z-index: 1;
      transform: scale(1.1);
      padding: 10px 13px;
    }
  }

  &--2{
    padding-left: 40px;
    text-align: center;
    
    @media #{$xl-device} {
      margin-left: 0;
      padding-right: 40px;
    }
  }
}




// Home 2 About Style
.home-two-about-area{
  background-color: $offWhite;
  display: flex;
  //background-image: url('../img/about-2-bg.jpg');
  // background-position: center right;
  // background-repeat: no-repeat;

  @media #{$lg-device, $xlmax-device} {
    background-size: 1100px auto;
  }

  @media #{$sm-device, $md-device} {
    background-image: none !important;
  }

  .about-content{
    padding-top: 100px;
    padding-bottom: 110px;

    @media #{$md-device} {
      padding-top: 40px;
      padding-bottom: 90px;
    }

    @media #{$sm-device} {
      padding-bottom: 60px;
      padding-top: 0;
    }
  }
}

.video-button-thumb{
  position: relative;

  &:after{
    content: '';
    background-color: $brandColor;
    opacity: 0.5;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }

  .btn-play{
    border-radius: 50%;
    background-color: $white;
    color: $brandColor;
    font-size: 18px;
    text-align: center;
    line-height: 60px;
    height: 60px;
    width: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 2;

    &:hover{
      background-color: $brandColor;
      color: $white;
    }

    i{
      padding-left: 5px;
    }
  }
}