/*============================
5. Brand Logo Style CSS
=============================*/
.brand-logo-area{
  margin-top: 0px;
}
.brand-logo-item{
  img{
    margin: auto;
    width: 40%;
  }
}

.brand-logo-content{
  .slick-list{
    margin: 0 -10px;

    .slick-slide{
      padding: 0 10px;
    }
  }
}