/*===========================
--. Footer Style CSS
===========================*/
.footer-area,.call-top-action-wrap {
  background-color: $offWhite;
  padding: 70px;
  
}
.sp-bottom{
  background-color: #080b1a;
  padding: 40px;

}
.widget-item {
  margin-top: 38px;
  

  .widget-title {
    color: $brandColor;
    font-size: 22px;
    font-weight: 600;
    line-height: 1;
    margin-top: -1px;
    margin-bottom: 22px;

    @media #{$sm-device} {
      margin-bottom: 15px;
    }
  }

  address {
    line-height: 2;
    margin-bottom: 0;
    font-weight: 500;
  }
}

.widget-list {
  li {
    line-height: 2;
    color: white;

    a {
      color: white;
      font-weight: 500;
      transition: 0.2s;


      &:hover {
        color: $brandColor;
        padding-left: 5px;
      }
    }
  }
}

// About Widget
.about-widget {
  // align-items: baseline;
  text-align: center;
  img {
    width: 200px;
    margin-bottom: 20px;
  }
}

.copyright-txt {
  margin-top: 25px;
  font-weight: 500;

  @media #{$sm-device} {
    margin-top: 15px;
  }
}
